{% load staticfiles %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="Author" content="天津木姜子科技有限公司设计制作">
    <title>DollDingDang西安布丁猫舍</title>
    <meta name="keywords" content="西安布偶猫舍，布偶猫，布偶猫舍，西安布偶猫海双色布偶猫，蓝双色布偶猫，布偶猫小猫，布偶猫种公">
    <meta name="Description" content="DollDingDang西安布偶猫舍是深圳早期成立的正规猫舍，注册于CFA&TICA，致力于成为亚洲一线布偶猫舍，让更多普通家庭能够拥有好而不贵的品质宠物和服务是我们的理念 ">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <script type="text/javascript" src='{% static "js/jquery-1.10.2.min.js" %}'></script>
    <script type="text/javascript" src='{% static "js/jquery.bxslider.js" %}'></script>
    <script type="text/javascript" src='{% static "js/jquery.SuperSlide.2.1.1.js" %}'></script>
    <script type="text/javascript" src='{% static "js/jquery.flexslider-min.js" %}'></script>
    <script type="text/javascript" src='{% static "js/a.whir.search.js" %}'></script>
    <script type="text/javascript" src='{% static "js/a.whir.menu.js" %}'></script>
    <link rel="stylesheet" type="text/css" href='{% static "css/responsive.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "css/iconfont.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "css/style.css" %}'>
    <script type="text/javascript" src='{% static "js/respond.js" %}'></script>
    <script type="text/javascript" src='{% static "js/html5shiv.v3.72.min.js" %}'></script>
    <script type="text/javascript" language="javascript">
        var m=1;
    </script>
</head>
<body>
{% include 'layout/head.html' %}
{% block banner%}
{% endblock %}
{% block content %}
{% endblock %}
{% include 'layout/bottom.html' %}
<script type="text/javascript" language="javascript">
    jQuery("#{{ focus_point }}").addClass("on");
</script>
{#<script type="text/javascript">#}
{#	jQuery.each(jQuery("img"), function (i, n) { jQuery(n).error(function () { n.src = '/uploadfiles/nopic.jpg'; }); n.src = n.src; })#}
{#</script>#}
<script type="text/javascript">
    focus_id = "{{ focus_point }}";
    console.log(focus_id)
    if(focus_id === 'index'){
        $("#index").css("color","#352a2a");
    }
    if (focus_id ==='about_house' || focus_id === 'about_idea'){
        $("#about_house").css("color","#352a2a");
    }

    if (focus_id ==='cat_parents' || focus_id === 'cat_certificate'){
        $("#cat_parents").css("color","#352a2a");
    }

    if (focus_id ==='for_sale' || focus_id === 'breed_plan' || focus_id ==='price_range'
        || focus_id === 'pedigree_and_health' || focus_id === 'purchase_process'){
        $("#for_sale").css("color","#352a2a");
    }

    if (focus_id ==='color_suit' || focus_id === 'cat_profile' || focus_id ==='breed_history'
        || focus_id === 'phase_identification'){
        $("#color_suit").css("color","#352a2a");
    }

    if (focus_id ==='history_pictures' || focus_id === 'cat_new_home'){
        $("#history_pictures").css("color","#352a2a");
    }

    if (focus_id ==='find_normal_house' || focus_id === 'diet_manger' || focus_id ==='behave_living'
        || focus_id === 'health_disease' || focus_id === 'others'){
        $("#find_normal_house").css("color","#352a2a");
    }

     if (focus_id ==='contact'){
        $("#contact").css("color","#352a2a");
    }

</script>
</body>
</html>