{% extends "cat_breed/cat_breed.html" %}
{% block cat_breed%}
<div class="some_info">
	<div class="auto auto_1200">
        <div class="Floor001362" data-role="part">
            <div class="auto">
                <ul class="ul">
                    {% for item in cat_parent_list %}
                    <li>
                        <a href='{% url "cat_parents_detail"  item.id  %}'>
                            <img class="pic" src="{% url 'index' %}media/{{ item.img }}">
                        </a>
                        <div class="icon">
                            <h5 class="dot">{{ item.name }} - {{ item.color }} | {{ item.sex }} -</h5>
                            <a href='{% url "cat_parents_detail"  item.id %}'>了解更多</a>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="Page002545">
            <div class='Pages'>
                <span class='p_page'>
                {% if cat_parent_list.has_previous %}
                    <a href='?page={{ num }}' class='a_prev'>上一页</a>
                {% else %}
                    <a class='a_prev'></a>
                {% endif %}
                    {% for num in cat_parent_list.paginator.page_range %}
                        {% if num %}
                            <em class="num">
                                <a class='a_cur' id='pageNum1'>{{ num }}</a>
                            </em>
                        {% else %}
                            <em class="num">
                                <a href='?page={{ num }}' class='a_cur' id='pageNum1'>...</a>
                            </em>
                        {% endif %}
                    {% endfor %}
                {% if cat_parent_list.has_next %}
                    <a href='?page={{ num }}' class='a_next'>下一页</a>
                {% else %}
                    <a class='a_next'></a>
                {% endif %}
                </span>
            </div>
        </div>
    </div>
</div>
{% endblock %}