{% extends "cat_breed/cat_breed.html" %}
{% block cat_breed%}
<div class="some_info">
	<div class="auto auto_1200">
        <p>
	        <span style="color:#666666;font-family:Microsoft YaHei;font-size:16px;">
                DollGarden所有种猫均经过遗传病基因检测，均不携带肥厚型心肌病二型（HCM2）、多囊性肾病（PKD）两种遗传病致病基因，从而可以确保后代不会产生遗传病。检测报告请见图片，预定者可以上门查看原件：
            </span>
        </p>
        <p>
	        <img alt="" src="../static/picture/20190214180453453.jpg">
        </p>
        <p>
	        <span style="color:#666666;font-family:Microsoft YaHei;font-size:16px;">
                <img alt="" src="../static/picture/20190214180621621.jpg">
            </span>
        </p>
        <p>
	        <span style="color:#666666;font-family:Microsoft YaHei;font-size:16px;">
                <img alt="" src="../static/picture/20190214180637637.jpg"><br>
            </span>
        </p>
    </div>
</div>
{% endblock %}