{% extends "cat_breed/cat_breed.html" %}
{% block cat_breed%}
<div class="some_info">
	<div class="auto auto_1200">
        <div class="Floor002084" data-role="part">
                <div class="auto">
                    <div class="word">
                        <div class="info">
                            <h2>>{{ cat_parent.name }}</h2>
                            <p style="margin:0px;padding:0px">
                               <article style="margin:0px; padding:0px">{{ cat_parent.excerpt | safe }} </article>
                            </p>
                            <pre></pre>
                        </div>
                    </div>
                    <div class="box">
                        <div class="design float">
                            <ul class="ul">
                                {% for item in cat_parent.imgs.all %}
                                    <li>
                                        <div class="Ispic Ispics_{{ item.id }}" style="background-image:url('{% url "index" %}media/{{ item.img }}');">
                                        	<img src="{% url 'index' %}media/{{ item.img }}">
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                            <div class="pager">
                                {% for item in cat_parent.imgs.all %}
                                    <a href="javascript:;" class="Ispic Ispics_{{ item.id }}" data-slide-index={{ item.id }} style="background-image:url('{% url "index" %}media/{{ item.img }}');">
                                        <img src="{% url 'index' %}media/{{ item.img }}">
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <script type="text/javascript">
                    $(document).ready(function() {
                        /*
                        $(".Floor002084 .pager a").each(function(index) {

                            $(this).addClass("a_" + index);
                            if (index == 0) {
                                $(this).hide();
                            }
                        });
                        */
                        img_ids = {{ img_ids }}
                        for (var i=0; i < img_ids.length; i++) {
                             $(".Ispics_" + img_ids[i]).addClass("a_" + img_ids[i]);
                             if (img_ids[i] == img_ids[0]) {
                                 $(this).hide();
                             }
                        }

                        $('.Floor002084 .box ul').bxSlider({
                            auto: true,
                            loop:true,
                            pagerCustom: '.Floor002084 .box .pager',
                            nextText: '<span class="glyphicon glyphicon-menu-right"></span>',
                            prevText: '<span class="glyphicon glyphicon-menu-left"></span>',
                            speed: 500
                        });
                    });

                </script>
            </div>
    </div>
</div>

{% endblock %}