{% extends "about/about.html" %}
{% block about%}
<div class="some_info">
	<div class="auto auto_1200">
        <p>
            <span style="color:#001000;">
                <span style="color:#666666;">&nbsp; &nbsp;
                    &nbsp; &nbsp;
                </span>
                <span style="color: rgb(102, 102, 102); line-height: 2; display: inline !important; float: none; background-color: transparent;" hei",sans-serif;font-size:16px;font-style:normal;font-variant:normal;font-weight:400;letter-spacing:normal;orphans:2;text-align:justify;text-decoration:none;text-indent:0px;text-transform:none;-webkit-text-stroke-width:0px;white-space:normal;word-spacing:0px;"="" micro="" yahei","wenquanyi="" gb","microsoft="" sans="" sc","hiragino="" pingfang="">
                    <span style="color:#666666;line-height:2;font-size:16px;">
                        DingDangCat深圳布偶猫舍是深圳早期成立的猫舍之一，注册于CFA与TICA国际猫协会，2014年开始筹建，联络预定进口种猫等事宜，正式注册于2015年，注册地址位于深圳宝安区，现增加位置较为居中的南山区蛇口繁育地，方便预定者到专用接待处选猫接猫。
                    </span>
                </span>
            </span>
        </p>
        <p>
            <span style="color:#001000;">
                <span style="color: rgb(102, 102, 102); line-height: 2; display: inline !important; float: none; background-color: transparent;" hei",sans-serif;font-size:16px;font-style:normal;font-variant:normal;font-weight:400;letter-spacing:normal;orphans:2;text-align:justify;text-decoration:none;text-indent:0px;text-transform:none;-webkit-text-stroke-width:0px;white-space:normal;word-spacing:0px;"="" micro="" yahei","wenquanyi="" gb","microsoft="" sans="" sc","hiragino="" pingfang="">
                    <span style="color:#666666;line-height:2;font-size:16px;">&nbsp;
                        &nbsp; 猫舍网站地址：www.dingdangcat.com，欢迎大家登陆，系统地了解我们。
                    </span>
                </span>
            </span>
        </p>
        <p>
            <span style="color:#001000;">
                <span style="color: rgb(102, 102, 102); display: inline !important; float: none; background-color: transparent;" hei",sans-serif;font-size:16px;font-style:normal;font-variant:normal;font-weight:400;letter-spacing:normal;orphans:2;text-align:justify;text-decoration:none;text-indent:0px;text-transform:none;-webkit-text-stroke-width:0px;white-space:normal;word-spacing:0px;"="" micro="" yahei","wenquanyi="" gb","microsoft="" sans="" sc","hiragino="" pingfang="">
                    <span style="color:#666666;font-size:16px;"><br>
                    </span>
                </span>
            </span>
        </p>

        <p>
            <span style="color:#001000;">
            </span>
            <img alt="" src="../static/picture/mmexport1560752723726.jpg">
        </p>
        <p>
            <br>
        </p>
        <p>
            <span style="color:#666666;font-size:16px;">&nbsp; &nbsp; &nbsp;&nbsp;
                <span style="line-height:2;">
                    我们的种猫均引自世界各地的优秀猫舍，布偶猫历史起源于美国加利福尼亚州，时间大概可以追溯到20世纪60年代，80年代初被引入英国进而扩散到欧洲各地。真正优秀而稳定的血线非常珍贵和稀少，为了获得更好的血统和基因，我们悉心研究世界各地猫舍血线特点和族谱，甘愿不远万里寻找资深繁育人，把优秀血线带回中国，一切动力源于我们致力于成为亚洲具有影响力的猫舍，并追求最优性价比，普惠中国的布偶猫迷。
                </span>
            </span>
        </p>
        <span style="display:inline !important;float:none;background-color:#FFFFFF;color:#333333;font-family:Arial," micro="" yahei","wenquanyi="" gb","microsoft="" sans="" sc","hiragino="" pingfang="" hei",sans-serif;font-size:16px;font-style:normal;font-variant:normal;font-weight:400;letter-spacing:normal;line-height:28px;orphans:2;text-align:left;text-decoration:none;text-indent:0px;text-transform:none;-webkit-text-stroke-width:0px;white-space:normal;word-spacing:0px;word-wrap:break-word;zoom:1;"="">
            <p>
                <span style="color:#666666;line-height:2;font-size:16px;">&nbsp; &nbsp; &nbsp;&nbsp;
                    DingDangCat通过多年的经验沉淀，已经形成系统的养育规范，在防疫、医疗、繁育知识、营养管理、孕产护理、仓库及环境管理方面均已形成自有标准。
                </span>
            </p>
            <p>
                <span style="color:#666666;font-size:16px;"><br>
                </span>
            </p>
            <p>
                <img alt="" src="../static/picture/mmexport1560752726107.jpg">
            </p>
            <p>
                <span style="display:inline !important;float:none;background-color:transparent;color:#333333;font-family:Arial," hei",sans-serif;font-size:16px;font-style:normal;font-variant:normal;font-weight:400;letter-spacing:normal;orphans:2;text-align:justify;text-decoration:none;text-indent:0px;text-transform:none;-webkit-text-stroke-width:0px;white-space:normal;word-spacing:0px;"="" micro="" yahei","wenquanyi="" gb","microsoft="" sans="" sc","hiragino="" pingfang="">
                    <span style="color:#666666;font-size:16px;">&nbsp;
                        &nbsp; &nbsp; &nbsp;
                    </span>
                </span>
            </p>

            <p>
                <span style="display:inline !important;float:none;background-color:transparent;color:#333333;font-family:Arial," hei",sans-serif;font-size:16px;font-style:normal;font-variant:normal;font-weight:400;letter-spacing:normal;orphans:2;text-align:justify;text-decoration:none;text-indent:0px;text-transform:none;-webkit-text-stroke-width:0px;white-space:normal;word-spacing:0px;"="" micro="" yahei","wenquanyi="" gb","microsoft="" sans="" sc","hiragino="" pingfang="">
                    <span style="color:#666666;font-size:16px;">&nbsp; &nbsp; &nbsp;
                        <span style="line-height:2;">
                            我是繁育人{{ contract.manager }}，理工小硕，不擅甜美之词，喜欢简单高效，天生热爱小动物，所以进入了这个行业。一直以来，猫舍承载保护纯种猫血统之使命，秉承让更多的普通家庭能够拥有好而不贵、物超所值的宠物和服务的理念，坚持正规、恪守原则、不断提升我们的血统品质和专业能力，获得了宠物家长的广泛信任，并有幸得以口碑相传。DingDangCat在众多猫舍中脱颖而出有赖于我们坚信诚信是立事之本，我们将时刻以国际猫协会理念及正规猫舍运营标准来规范自身行为，不负大家对我们的信任。
                        </span>
                    </span>
                    <br>
                    <span style="color: rgb(102, 102, 102); line-height: 2; font-size: 16px; display: inline !important; float: none; background-color: transparent;" hei",sans-serif;font-size:16px;font-style:normal;font-variant:normal;font-weight:400;letter-spacing:normal;orphans:2;text-align:justify;text-decoration:none;text-indent:0px;text-transform:none;-webkit-text-stroke-width:0px;white-space:normal;word-spacing:0px;"="" micro="" yahei","wenquanyi="" gb","microsoft="" sans="" sc","hiragino="" pingfang="">&nbsp; &nbsp; &nbsp;&nbsp;
                        我们的繁育场地皆处于静谧安全的社区内，为了防疫需求采取分群饲养的原则，繁育不集中在一个场所，分开饲养能更好的控制疾病传播，但饲养标准保持一致。整体建筑面积300多平方米，可以提供较为广阔的生活空间。设有产房、公猫房、隔离区、活动区域等。保留猫科动物自由天性，随意活动在舍内，不笼养。施行温湿度管控，食品保质期预警机制及先进先出使用原则。喂食顶级猫粮，优质罐头和自制鲜肉，所有猫咪与人共居，熏陶猫咪与人亲近的性格。同时配备了经验丰富的合作医院保驾护航。展示部分猫舍环境：
                    </span>
                </span>
            </p>

            <p>
                <span style="display:inline !important;float:none;background-color:transparent;color:#333333;font-family:Arial," hei",sans-serif;font-size:16px;font-style:normal;font-variant:normal;font-weight:400;letter-spacing:normal;orphans:2;text-align:justify;text-decoration:none;text-indent:0px;text-transform:none;-webkit-text-stroke-width:0px;white-space:normal;word-spacing:0px;"="" micro="" yahei","wenquanyi="" gb","microsoft="" sans="" sc","hiragino="" pingfang="">
                    <span style="color: rgb(102, 102, 102); font-size: 16px; display: inline !important; float: none; background-color: transparent;" hei",sans-serif;font-size:16px;font-style:normal;font-variant:normal;font-weight:400;letter-spacing:normal;orphans:2;text-align:justify;text-decoration:none;text-indent:0px;text-transform:none;-webkit-text-stroke-width:0px;white-space:normal;word-spacing:0px;"="" micro="" yahei","wenquanyi="" gb","microsoft="" sans="" sc","hiragino="" pingfang="">
                        <img alt="" src="../static/picture/20190915173001301.jpg">
                        <img alt="" src="../static/picture/201909151730173017.jpg">
                        <img alt="" src="../static/picture/201909151730573057.jpg">
                    </span>
                </span>
            </p>

            <p>
                <span style="display:inline !important;float:none;background-color:transparent;color:#333333;font-family:Arial," hei",sans-serif;font-size:16px;font-style:normal;font-variant:normal;font-weight:400;letter-spacing:normal;orphans:2;text-align:justify;text-decoration:none;text-indent:0px;text-transform:none;-webkit-text-stroke-width:0px;white-space:normal;word-spacing:0px;"="" micro="" yahei","wenquanyi="" gb","microsoft="" sans="" sc","hiragino="" pingfang="">
                    <span style="color: rgb(102, 102, 102); display: inline !important; float: none; background-color: transparent;" hei",sans-serif;font-size:16px;font-style:normal;font-variant:normal;font-weight:400;letter-spacing:normal;orphans:2;text-align:justify;text-decoration:none;text-indent:0px;text-transform:none;-webkit-text-stroke-width:0px;white-space:normal;word-spacing:0px;"="" micro="" yahei","wenquanyi="" gb","microsoft="" sans="" sc","hiragino="" pingfang="">
                        <span style="text-align:justify;color:#666666;text-transform:none;text-indent:0px;letter-spacing:normal;font-family:Arial," micro="" yahei","wenquanyi="" gb","microsoft="" sans="" sc","hiragino="" pingfang="" !important;white-space:normal;orphans:2;float:none;-webkit-text-stroke-width:0px;background-color:transparent;"="" hei",sans-serif;font-size:16px;font-style:normal;font-variant:normal;font-weight:400;text-decoration:none;word-spacing:0px;display:inline="">&nbsp; &nbsp; &nbsp;
                            <span style="line-height:2;">&nbsp;
                            </span>
                            <span style="line-height:2;font-size:16px;">
                                种猫
                            </span>
                            <span style="color:#666666;line-height:2;font-size:16px;">
                                均
                            </span>
                            <span style="color:#666666;line-height:2;font-size:16px;">
                                拥有TICA或CFA注册证书、血统证书，全部通过了 HCM（肥厚心肌病）PKD（多囊性肾病）布偶猫两种遗传病检测（双阴性）。以下是部分资质证书展示图片：猫舍证书、基因检测报告、种猫注册证书及五代血统、种猫回国护照等。
                            </span>
                        </span>
                    </span>
                </span>
            </p>

            <p>
                <span style="display:inline !important;float:none;background-color:transparent;color:#333333;font-family:Arial," hei",sans-serif;font-size:16px;font-style:normal;font-variant:normal;font-weight:400;letter-spacing:normal;orphans:2;text-align:justify;text-decoration:none;text-indent:0px;text-transform:none;-webkit-text-stroke-width:0px;white-space:normal;word-spacing:0px;"="" micro="" yahei","wenquanyi="" gb","microsoft="" sans="" sc","hiragino="" pingfang="">
                    <span style="color: rgb(102, 102, 102); display: inline !important; float: none; background-color: transparent;" hei",sans-serif;font-size:16px;font-style:normal;font-variant:normal;font-weight:400;letter-spacing:normal;orphans:2;text-align:justify;text-decoration:none;text-indent:0px;text-transform:none;-webkit-text-stroke-width:0px;white-space:normal;word-spacing:0px;"="" micro="" yahei","wenquanyi="" gb","microsoft="" sans="" sc","hiragino="" pingfang="">
                        <span style="text-align:justify;color:#666666;text-transform:none;text-indent:0px;letter-spacing:normal;font-family:Arial," micro="" yahei","wenquanyi="" gb","microsoft="" sans="" sc","hiragino="" pingfang="" !important;white-space:normal;orphans:2;float:none;-webkit-text-stroke-width:0px;background-color:transparent;"="" hei",sans-serif;font-size:16px;font-style:normal;font-variant:normal;font-weight:400;text-decoration:none;word-spacing:0px;display:inline="">
                            <span style="color:#666666;font-size:16px;">
                                <br>
                            </span>
                        </span>
                    </span>
                </span>
            </p>

            <p>
                <span style="display:inline !important;float:none;background-color:transparent;color:#333333;font-family:Arial," hei",sans-serif;font-size:16px;font-style:normal;font-variant:normal;font-weight:400;letter-spacing:normal;orphans:2;text-align:justify;text-decoration:none;text-indent:0px;text-transform:none;-webkit-text-stroke-width:0px;white-space:normal;word-spacing:0px;"="" micro="" yahei","wenquanyi="" gb","microsoft="" sans="" sc","hiragino="" pingfang="">
                    <span style="color: rgb(102, 102, 102); display: inline !important; float: none; background-color: transparent;" hei",sans-serif;font-size:16px;font-style:normal;font-variant:normal;font-weight:400;letter-spacing:normal;orphans:2;text-align:justify;text-decoration:none;text-indent:0px;text-transform:none;-webkit-text-stroke-width:0px;white-space:normal;word-spacing:0px;"="" micro="" yahei","wenquanyi="" gb","microsoft="" sans="" sc","hiragino="" pingfang="">
                        <span style="color:#666666;font-size:16px;">
                            <img alt="" src="../static/picture/201909151732233223.jpg">
                            <img alt="" src="../static/picture/201909151732373237.jpg">
                        </span>
                    </span>
                </span>
            </p>
            <p>
                <br>
            </p>
            <p align="justify" style="background-attachment:scroll;background-clip:border-box;background-color:transparent;background-image:none;background-origin:padding-box;background-position-x:0%;background-position-y:0%;background-repeat:repeat;background-size:auto;color:#333333;display:block;font-family:Arial,&amp;font-size:16px;font-style:normal;font-variant:normal;font-weight:400;letter-spacing:normal;margin-bottom:0px;margin-left:0px;margin-right:0px;margin-top:0px;orphans:2;padding-bottom:0px;padding-left:0px;padding-right:0px;padding-top:0px;text-align:justify;text-decoration:none;text-indent:0px;text-transform:none;-webkit-text-stroke-width:0px;white-space:normal;word-spacing:0px;">
                <span style="color:#666666;font-size:16px;">&nbsp; &nbsp;
                    <span style="line-height:2;">
                        为了进一步消除家长的担忧，我们为您提供全面的并形成协议的血统及健康保障：
                    </span>
                </span>
                 <br style="background-attachment:scroll;background-clip:border-box;background-color:transparent;background-image:none;background-origin:padding-box;background-position-x:0%;background-position-y:0%;background-repeat:repeat;background-size:auto;color:#333333;">
                <span style="color:#666666;line-height:2;font-size:16px;">
                    1）.我们保证所有小猫血统纯正，均具有国际猫协会的注册证书（免费），无假证，不套证。
                </span>
                    <br style="background-attachment:scroll;background-clip:border-box;background-color:transparent;background-image:none;background-origin:padding-box;background-position-x:0%;background-position-y:0%;background-repeat:repeat;background-size:auto;color:#333333;">
                <span style="color:#666666;line-height:2;font-size:16px;">
                    2）.我们保证所有小猫皆由本舍繁育，不代购，不外收来路不明猫只。坚持有序、人道的繁殖理念，不杂交，不笼养，控制生育频率确保健康及品质。
                </span>
                <br style="background-attachment:scroll;background-clip:border-box;background-color:transparent;background-image:none;background-origin:padding-box;background-position-x:0%;background-position-y:0%;background-repeat:repeat;background-size:auto;color:#333333;">

                <span style="color:#666666;line-height:2;font-size:16px;">
                    3）.保证良好的养育环境和营养，保持强健体质。喂食顶级干粮、优质罐头及自制鲜肉。小猫吃足2月以上母乳。提供充足空间保证运动量。多种营养补充剂保持猫咪良好的身体素质。小猫同猫妈妈和人类生活在一起，确保充分社会化训练。重视小猫的娱乐需求，自由天性，保持布偶猫品种亲人、温顺的性格特点。
                </span>
                <br style="background-attachment:scroll;background-clip:border-box;background-color:transparent;background-image:none;background-origin:padding-box;background-position-x:0%;background-position-y:0%;background-repeat:repeat;background-size:auto;color:#333333;">

                <span style="color:#666666;line-height:2;font-size:16px;">
                    4）.我们保证所有出自本舍的小猫不存在HCM和PKD遗传病，终生有效。
                </span>
                <br style="background-attachment:scroll;background-clip:border-box;background-color:transparent;background-image:none;background-origin:padding-box;background-position-x:0%;background-position-y:0%;background-repeat:repeat;background-size:auto;color:#333333;">
                <span style="color:#666666;line-height:2;font-size:16px;">
                    5）. 我们保证所有小猫离家前做好常规体内外驱虫，按程序接种两针以上猫三联疫苗，并提供疫苗批次记录可供追溯。
                </span>
                <br style="background-attachment:scroll;background-clip:border-box;background-color:transparent;background-image:none;background-origin:padding-box;background-position-x:0%;background-position-y:0%;background-repeat:repeat;background-size:auto;color:#333333;">
                <span style="color:#666666;line-height:2;font-size:16px;">
                    6）. 猫舍保证小猫离家前无猫瘟、传染性腹膜炎、猫艾滋病、白血病等危及生命的重大疾病，小猫回家后三月内若出现如上危及生命的疾病且医治无效，免费更换同等级别小猫。
                </span>
                <br style="background-attachment:scroll;background-clip:border-box;background-color:transparent;background-image:none;background-origin:padding-box;background-position-x:0%;background-position-y:0%;background-repeat:repeat;background-size:auto;color:#333333;">
                <span style="color:#666666;line-height:2;font-size:16px;">
                    7）.我们保证用最严格的国际猫展赛标准对小猫评级并定价，只追求公平利润，通过合理的成本管理压缩定价范围，不蓄意提高品级提升价格，不设虚价，谨记“让更多的普通家庭能够拥有好而不贵、物超所值的宠物和服务”是我们不变的运营理念。
                </span>
                <br style="background-attachment:scroll;background-clip:border-box;background-color:transparent;background-image:none;background-origin:padding-box;background-position-x:0%;background-position-y:0%;background-repeat:repeat;background-size:auto;color:#333333;">
                <span style="color:#666666;line-height:2;font-size:16px;">
                    8）.我们保证绝不做误导性或虚假宣传，所有出自本舍公开信息平台的图片保证与活体对应，不刻意掩盖缺陷，支持预定者到猫舍接待处选猫，公开透明。
                </span>
            </p>
            <span style="display:inline !important;float:none;background-color:#FFFFFF;color:#333333;font-family:Arial," micro="" yahei","wenquanyi="" gb","microsoft="" sans="" sc","hiragino="" pingfang="" hei",sans-serif;font-size:16px;font-style:normal;font-variant:normal;font-weight:400;letter-spacing:normal;line-height:28px;orphans:2;text-align:left;text-decoration:none;text-indent:0px;text-transform:none;-webkit-text-stroke-width:0px;white-space:normal;word-spacing:0px;word-wrap:break-word;zoom:1;"="">
            </span>

            <p align="justify" style="background-attachment:scroll;background-clip:border-box;background-color:transparent;background-image:none;background-origin:padding-box;background-position-x:0%;background-position-y:0%;background-repeat:repeat;background-size:auto;color:#333333;display:block;font-family:Arial,&amp;font-size:16px;font-style:normal;font-variant:normal;font-weight:400;letter-spacing:normal;margin-bottom:0px;margin-left:0px;margin-right:0px;margin-top:0px;orphans:2;padding-bottom:0px;padding-left:0px;padding-right:0px;padding-top:0px;text-align:justify;text-decoration:none;text-indent:0px;text-transform:none;-webkit-text-stroke-width:0px;white-space:normal;word-spacing:0px;">
                <span style="color:#666666;line-height:2;font-size:16px;">
                    9）.遵从国际猫协会规定，小猫绝育出售给个人，繁育权只出售给正规猫舍。
                </span>
            </p>

            <span style="display:inline !important;float:none;background-color:#FFFFFF;color:#333333;font-family:Arial," micro="" yahei","wenquanyi="" gb","microsoft="" sans="" sc","hiragino="" pingfang="" hei",sans-serif;font-size:16px;font-style:normal;font-variant:normal;font-weight:400;letter-spacing:normal;line-height:28px;orphans:2;text-align:left;text-decoration:none;text-indent:0px;text-transform:none;-webkit-text-stroke-width:0px;white-space:normal;word-spacing:0px;word-wrap:break-word;zoom:1;"="">
            </span>
            <p align="justify" style="background-attachment:scroll;background-clip:border-box;background-color:transparent;background-image:none;background-origin:padding-box;background-position-x:0%;background-position-y:0%;background-repeat:repeat;background-size:auto;color:#333333;display:block;font-family:Arial,&amp;font-size:16px;font-style:normal;font-variant:normal;font-weight:400;letter-spacing:normal;margin-bottom:0px;margin-left:0px;margin-right:0px;margin-top:0px;orphans:2;padding-bottom:0px;padding-left:0px;padding-right:0px;padding-top:0px;text-align:justify;text-decoration:none;text-indent:0px;text-transform:none;-webkit-text-stroke-width:0px;white-space:normal;word-spacing:0px;">
                <br>
            </p>

            <span style="display:inline !important;float:none;background-color:#FFFFFF;color:#333333;font-family:Arial," micro="" yahei","wenquanyi="" gb","microsoft="" sans="" sc","hiragino="" pingfang="" hei",sans-serif;font-size:16px;font-style:normal;font-variant:normal;font-weight:400;letter-spacing:normal;line-height:28px;orphans:2;text-align:left;text-decoration:none;text-indent:0px;text-transform:none;-webkit-text-stroke-width:0px;white-space:normal;word-spacing:0px;word-wrap:break-word;zoom:1;"="">
            </span>
            <p align="justify" style="background-attachment:scroll;background-clip:border-box;background-color:transparent;background-image:none;background-origin:padding-box;background-position-x:0%;background-position-y:0%;background-repeat:repeat;background-size:auto;color:#333333;display:block;font-family:Arial,&amp;font-size:16px;font-style:normal;font-variant:normal;font-weight:400;letter-spacing:normal;margin-bottom:0px;margin-left:0px;margin-right:0px;margin-top:0px;orphans:2;padding-bottom:0px;padding-left:0px;padding-right:0px;padding-top:0px;text-align:justify;text-decoration:none;text-indent:0px;text-transform:none;-webkit-text-stroke-width:0px;white-space:normal;word-spacing:0px;">
                <span style="color:#666666;line-height:2;font-size:16px;">
                    售后及福利
                </span>
            </p>
            <span style="display:inline !important;float:none;background-color:#FFFFFF;color:#333333;font-family:Arial," micro="" yahei","wenquanyi="" gb","microsoft="" sans="" sc","hiragino="" pingfang="" hei",sans-serif;font-size:16px;font-style:normal;font-variant:normal;font-weight:400;letter-spacing:normal;line-height:28px;orphans:2;text-align:left;text-decoration:none;text-indent:0px;text-transform:none;-webkit-text-stroke-width:0px;white-space:normal;word-spacing:0px;word-wrap:break-word;zoom:1;"="">
            </span>
            <p align="justify" style="background-attachment:scroll;background-clip:border-box;background-color:transparent;background-image:none;background-origin:padding-box;background-position-x:0%;background-position-y:0%;background-repeat:repeat;background-size:auto;color:#333333;display:block;font-family:Arial,&amp;font-size:16px;font-style:normal;font-variant:normal;font-weight:400;letter-spacing:normal;margin-bottom:0px;margin-left:0px;margin-right:0px;margin-top:0px;orphans:2;padding-bottom:0px;padding-left:0px;padding-right:0px;padding-top:0px;text-align:justify;text-decoration:none;text-indent:0px;text-transform:none;-webkit-text-stroke-width:0px;white-space:normal;word-spacing:0px;">
                <span style="color:#666666;line-height:2;font-size:16px;">
                    1）.除了形成合同的血统及健康保障，我们保证售后的优质服务，提供系统养猫指导、终生养育咨询、官方网站、公众号持续更新的养猫科普资料。
                </span>
            </p>
            <span style="display:inline !important;float:none;background-color:#FFFFFF;color:#333333;font-family:Arial," micro="" yahei","wenquanyi="" gb","microsoft="" sans="" sc","hiragino="" pingfang="" hei",sans-serif;font-size:16px;font-style:normal;font-variant:normal;font-weight:400;letter-spacing:normal;line-height:28px;orphans:2;text-align:left;text-decoration:none;text-indent:0px;text-transform:none;-webkit-text-stroke-width:0px;white-space:normal;word-spacing:0px;word-wrap:break-word;zoom:1;"="">
            </span>
            <p align="justify" style="background-attachment:scroll;background-clip:border-box;background-color:transparent;background-image:none;background-origin:padding-box;background-position-x:0%;background-position-y:0%;background-repeat:repeat;background-size:auto;color:#333333;display:block;font-family:Arial,&amp;font-size:16px;font-style:normal;font-variant:normal;font-weight:400;letter-spacing:normal;margin-bottom:0px;margin-left:0px;margin-right:0px;margin-top:0px;orphans:2;padding-bottom:0px;padding-left:0px;padding-right:0px;padding-top:0px;text-align:justify;text-decoration:none;text-indent:0px;text-transform:none;-webkit-text-stroke-width:0px;white-space:normal;word-spacing:0px;">
                <span style="color:#666666;line-height:2;font-size:16px;">
                    2）.合作医院享受折扣优惠。
                </span>
            </p>
            <span style="display:inline !important;float:none;background-color:#FFFFFF;color:#333333;font-family:Arial," micro="" yahei","wenquanyi="" gb","microsoft="" sans="" sc","hiragino="" pingfang="" hei",sans-serif;font-size:16px;font-style:normal;font-variant:normal;font-weight:400;letter-spacing:normal;line-height:28px;orphans:2;text-align:left;text-decoration:none;text-indent:0px;text-transform:none;-webkit-text-stroke-width:0px;white-space:normal;word-spacing:0px;word-wrap:break-word;zoom:1;"="">
            </span>
            <p align="justify" style="background-attachment:scroll;background-clip:border-box;background-color:transparent;background-image:none;background-origin:padding-box;background-position-x:0%;background-position-y:0%;background-repeat:repeat;background-size:auto;color:#333333;display:block;font-family:Arial,&amp;font-size:16px;font-style:normal;font-variant:normal;font-weight:400;letter-spacing:normal;margin-bottom:0px;margin-left:0px;margin-right:0px;margin-top:0px;orphans:2;padding-bottom:0px;padding-left:0px;padding-right:0px;padding-top:0px;text-align:justify;text-decoration:none;text-indent:0px;text-transform:none;-webkit-text-stroke-width:0px;white-space:normal;word-spacing:0px;">
                <span style="color:#666666;line-height:2;font-size:16px;">
                    3）.为家长提供非营利性代采购猫用品服务，团购模式共享猫舍采购价及可靠的代理货源。
                </span>
            </p>
            <span style="display:inline !important;float:none;background-color:#FFFFFF;color:#333333;font-family:Arial," micro="" yahei","wenquanyi="" gb","microsoft="" sans="" sc","hiragino="" pingfang="" hei",sans-serif;font-size:16px;font-style:normal;font-variant:normal;font-weight:400;letter-spacing:normal;line-height:28px;orphans:2;text-align:left;text-decoration:none;text-indent:0px;text-transform:none;-webkit-text-stroke-width:0px;white-space:normal;word-spacing:0px;word-wrap:break-word;zoom:1;"="">
            </span>
            <p align="justify" style="background-attachment:scroll;background-clip:border-box;background-color:transparent;background-image:none;background-origin:padding-box;background-position-x:0%;background-position-y:0%;background-repeat:repeat;background-size:auto;color:#333333;display:block;font-family:Arial,&amp;font-size:16px;font-style:normal;font-variant:normal;font-weight:400;letter-spacing:normal;margin-bottom:0px;margin-left:0px;margin-right:0px;margin-top:0px;orphans:2;padding-bottom:0px;padding-left:0px;padding-right:0px;padding-top:0px;text-align:justify;text-decoration:none;text-indent:0px;text-transform:none;-webkit-text-stroke-width:0px;white-space:normal;word-spacing:0px;">
                <br>
            </p>

            <span style="display:inline !important;float:none;background-color:#FFFFFF;color:#333333;font-family:Arial," micro="" yahei","wenquanyi="" gb","microsoft="" sans="" sc","hiragino="" pingfang="" hei",sans-serif;font-size:16px;font-style:normal;font-variant:normal;font-weight:400;letter-spacing:normal;line-height:28px;orphans:2;text-align:left;text-decoration:none;text-indent:0px;text-transform:none;-webkit-text-stroke-width:0px;white-space:normal;word-spacing:0px;word-wrap:break-word;zoom:1;"="">
            </span>
            <p align="justify" style="background-attachment:scroll;background-clip:border-box;background-color:transparent;background-image:none;background-origin:padding-box;background-position-x:0%;background-position-y:0%;background-repeat:repeat;background-size:auto;color:#333333;display:block;font-family:Arial,&amp;font-size:16px;font-style:normal;font-variant:normal;font-weight:400;letter-spacing:normal;margin-bottom:0px;margin-left:0px;margin-right:0px;margin-top:0px;orphans:2;padding-bottom:0px;padding-left:0px;padding-right:0px;padding-top:0px;text-align:justify;text-decoration:none;text-indent:0px;text-transform:none;-webkit-text-stroke-width:0px;white-space:normal;word-spacing:0px;">
                <span style="color:#666666;line-height:2;font-size:16px;">
                    联系方式：
                </span>
            </p>
            <span style="display:inline !important;float:none;background-color:#FFFFFF;color:#333333;font-family:Arial," micro="" yahei","wenquanyi="" gb","microsoft="" sans="" sc","hiragino="" pingfang="" hei",sans-serif;font-size:16px;font-style:normal;font-variant:normal;font-weight:400;letter-spacing:normal;line-height:28px;orphans:2;text-align:left;text-decoration:none;text-indent:0px;text-transform:none;-webkit-text-stroke-width:0px;white-space:normal;word-spacing:0px;word-wrap:break-word;zoom:1;"="">
            </span>
            <p align="justify" style="background-attachment:scroll;background-clip:border-box;background-color:transparent;background-image:none;background-origin:padding-box;background-position-x:0%;background-position-y:0%;background-repeat:repeat;background-size:auto;color:#333333;display:block;font-family:Arial,&amp;font-size:16px;font-style:normal;font-variant:normal;font-weight:400;letter-spacing:normal;margin-bottom:0px;margin-left:0px;margin-right:0px;margin-top:0px;orphans:2;padding-bottom:0px;padding-left:0px;padding-right:0px;padding-top:0px;text-align:justify;text-decoration:none;text-indent:0px;text-transform:none;-webkit-text-stroke-width:0px;white-space:normal;word-spacing:0px;">
                <span style="color:#666666;line-height:2;font-size:16px;">
                    微信：个人号 {{ contract.num_weichat }} &nbsp;&nbsp;&nbsp; 公众号: {{ contract.num_public }}
                </span>
            </p>
            <span style="display:inline !important;float:none;background-color:#FFFFFF;color:#333333;font-family:Arial," micro="" yahei","wenquanyi="" gb","microsoft="" sans="" sc","hiragino="" pingfang="" hei",sans-serif;font-size:16px;font-style:normal;font-variant:normal;font-weight:400;letter-spacing:normal;line-height:28px;orphans:2;text-align:left;text-decoration:none;text-indent:0px;text-transform:none;-webkit-text-stroke-width:0px;white-space:normal;word-spacing:0px;word-wrap:break-word;zoom:1;"="">
            </span>
            <p align="justify" style="background-attachment:scroll;background-clip:border-box;background-color:transparent;background-image:none;background-origin:padding-box;background-position-x:0%;background-position-y:0%;background-repeat:repeat;background-size:auto;color:#333333;display:block;font-family:Arial,&amp;font-size:16px;font-style:normal;font-variant:normal;font-weight:400;letter-spacing:normal;margin-bottom:0px;margin-left:0px;margin-right:0px;margin-top:0px;orphans:2;padding-bottom:0px;padding-left:0px;padding-right:0px;padding-top:0px;text-align:justify;text-decoration:none;text-indent:0px;text-transform:none;-webkit-text-stroke-width:0px;white-space:normal;word-spacing:0px;">
                <span style="color:#666666;line-height:2;font-size:16px;">
                    新浪微博：{{ contract.sina_weibo }}
                </span>
            </p>
            <span style="display:inline !important;float:none;background-color:#FFFFFF;color:#333333;font-family:Arial," micro="" yahei","wenquanyi="" gb","microsoft="" sans="" sc","hiragino="" pingfang="" hei",sans-serif;font-size:16px;font-style:normal;font-variant:normal;font-weight:400;letter-spacing:normal;line-height:28px;orphans:2;text-align:left;text-decoration:none;text-indent:0px;text-transform:none;-webkit-text-stroke-width:0px;white-space:normal;word-spacing:0px;word-wrap:break-word;zoom:1;"="">
            </span>
            <p align="justify" style="background-attachment:scroll;background-clip:border-box;background-color:transparent;background-image:none;background-origin:padding-box;background-position-x:0%;background-position-y:0%;background-repeat:repeat;background-size:auto;color:#333333;display:block;font-family:Arial,&amp;font-size:16px;font-style:normal;font-variant:normal;font-weight:400;letter-spacing:normal;margin-bottom:0px;margin-left:0px;margin-right:0px;margin-top:0px;orphans:2;padding-bottom:0px;padding-left:0px;padding-right:0px;padding-top:0px;text-align:justify;text-decoration:none;text-indent:0px;text-transform:none;-webkit-text-stroke-width:0px;white-space:normal;word-spacing:0px;">
                <span style="color:#666666;line-height:2;font-size:16px;">
                    电话：+86 {{ contract.phone }}
                </span>
            </p>
            <span style="display:inline !important;float:none;background-color:#FFFFFF;color:#333333;font-family:Arial," micro="" yahei","wenquanyi="" gb","microsoft="" sans="" sc","hiragino="" pingfang="" hei",sans-serif;font-size:16px;font-style:normal;font-variant:normal;font-weight:400;letter-spacing:normal;line-height:28px;orphans:2;text-align:left;text-decoration:none;text-indent:0px;text-transform:none;-webkit-text-stroke-width:0px;white-space:normal;word-spacing:0px;word-wrap:break-word;zoom:1;"="">
            </span>
            <p align="justify" style="background-attachment:scroll;background-clip:border-box;background-color:transparent;background-image:none;background-origin:padding-box;background-position-x:0%;background-position-y:0%;background-repeat:repeat;background-size:auto;color:#333333;display:block;font-family:Arial,&amp;font-size:16px;font-style:normal;font-variant:normal;font-weight:400;letter-spacing:normal;margin-bottom:0px;margin-left:0px;margin-right:0px;margin-top:0px;orphans:2;padding-bottom:0px;padding-left:0px;padding-right:0px;padding-top:0px;text-align:justify;text-decoration:none;text-indent:0px;text-transform:none;-webkit-text-stroke-width:0px;white-space:normal;word-spacing:0px;">
                <span style="color:#666666;line-height:2;font-size:16px;">
                    邮箱：{{ contract.email }}
                </span>
            </p>
            <span style="display:inline !important;float:none;background-color:#FFFFFF;color:#333333;font-family:Arial," micro="" yahei","wenquanyi="" gb","microsoft="" sans="" sc","hiragino="" pingfang="" hei",sans-serif;font-size:16px;font-style:normal;font-variant:normal;font-weight:400;letter-spacing:normal;line-height:28px;orphans:2;text-align:left;text-decoration:none;text-indent:0px;text-transform:none;-webkit-text-stroke-width:0px;white-space:normal;word-spacing:0px;word-wrap:break-word;zoom:1;"="">
            </span>
            <p align="justify" style="background-attachment:scroll;background-clip:border-box;background-color:transparent;background-image:none;background-origin:padding-box;background-position-x:0%;background-position-y:0%;background-repeat:repeat;background-size:auto;color:#333333;display:block;font-family:Arial,&amp;font-size:16px;font-style:normal;font-variant:normal;font-weight:400;letter-spacing:normal;margin-bottom:0px;margin-left:0px;margin-right:0px;margin-top:0px;orphans:2;padding-bottom:0px;padding-left:0px;padding-right:0px;padding-top:0px;text-align:justify;text-decoration:none;text-indent:0px;text-transform:none;-webkit-text-stroke-width:0px;white-space:normal;word-spacing:0px;">
                <span style="color:#666666;line-height:2;font-size:16px;">
                    网站地址：www.dingdangcat.com
                </span>
            </p>
            <span style="display:inline !important;float:none;background-color:#FFFFFF;color:#333333;font-family:Arial," micro="" yahei","wenquanyi="" gb","microsoft="" sans="" sc","hiragino="" pingfang="" hei",sans-serif;font-size:16px;font-style:normal;font-variant:normal;font-weight:400;letter-spacing:normal;line-height:28px;orphans:2;text-align:left;text-decoration:none;text-indent:0px;text-transform:none;-webkit-text-stroke-width:0px;white-space:normal;word-spacing:0px;word-wrap:break-word;zoom:1;"="">
            </span>
            <p align="justify" style="background-attachment:scroll;background-clip:border-box;background-color:transparent;background-image:none;background-origin:padding-box;background-position-x:0%;background-position-y:0%;background-repeat:repeat;background-size:auto;color:#333333;display:block;font-family:Arial,&amp;font-size:16px;font-style:normal;font-variant:normal;font-weight:400;letter-spacing:normal;margin-bottom:0px;margin-left:0px;margin-right:0px;margin-top:0px;orphans:2;padding-bottom:0px;padding-left:0px;padding-right:0px;padding-top:0px;text-align:justify;text-decoration:none;text-indent:0px;text-transform:none;-webkit-text-stroke-width:0px;white-space:normal;word-spacing:0px;">
                <span style="color:#666666;line-height:2;font-size:16px;">
                    繁育人：{{ contract.manager }}
                </span>
            </p>
            <span style="display:inline !important;float:none;background-color:#FFFFFF;color:#333333;font-family:Arial," micro="" yahei","wenquanyi="" gb","microsoft="" sans="" sc","hiragino="" pingfang="" hei",sans-serif;font-size:16px;font-style:normal;font-variant:normal;font-weight:400;letter-spacing:normal;line-height:28px;orphans:2;text-align:left;text-decoration:none;text-indent:0px;text-transform:none;-webkit-text-stroke-width:0px;white-space:normal;word-spacing:0px;word-wrap:break-word;zoom:1;"="">
            </span>
            <p align="justify" style="background-attachment:scroll;background-clip:border-box;background-color:transparent;background-image:none;background-origin:padding-box;background-position-x:0%;background-position-y:0%;background-repeat:repeat;background-size:auto;color:#333333;display:block;font-family:Arial,&amp;font-size:16px;font-style:normal;font-variant:normal;font-weight:400;letter-spacing:normal;margin-bottom:0px;margin-left:0px;margin-right:0px;margin-top:0px;orphans:2;padding-bottom:0px;padding-left:0px;padding-right:0px;padding-top:0px;text-align:justify;text-decoration:none;text-indent:0px;text-transform:none;-webkit-text-stroke-width:0px;white-space:normal;word-spacing:0px;">
                <br>
            </p>
            <span style="display:inline !important;float:none;background-color:#FFFFFF;color:#333333;font-family:Arial," micro="" yahei","wenquanyi="" gb","microsoft="" sans="" sc","hiragino="" pingfang="" hei",sans-serif;font-size:16px;font-style:normal;font-variant:normal;font-weight:400;letter-spacing:normal;line-height:28px;orphans:2;text-align:left;text-decoration:none;text-indent:0px;text-transform:none;-webkit-text-stroke-width:0px;white-space:normal;word-spacing:0px;word-wrap:break-word;zoom:1;"="">
            </span>
            <p align="justify" style="background-attachment:scroll;background-clip:border-box;background-color:transparent;background-image:none;background-origin:padding-box;background-position-x:0%;background-position-y:0%;background-repeat:repeat;background-size:auto;color:#333333;display:block;font-family:Arial,&amp;font-size:16px;font-style:normal;font-variant:normal;font-weight:400;letter-spacing:normal;margin-bottom:0px;margin-left:0px;margin-right:0px;margin-top:0px;orphans:2;padding-bottom:0px;padding-left:0px;padding-right:0px;padding-top:0px;text-align:justify;text-decoration:none;text-indent:0px;text-transform:none;-webkit-text-stroke-width:0px;white-space:normal;word-spacing:0px;">
                <span style="color:#666666;line-height:2;font-size:16px;">&nbsp; &nbsp;
                    感谢所有喜爱和信任DingDangCat的朋友，我们将坚守理念，陪伴大家一起将优秀的布偶猫血统在中国传承和普惠下去。
                </span>
            </p>
            <p>
                <br>
            </p>
        </span>
    </div>
</div>
{% endblock %}
