{% extends "about/about.html" %}
{% block about%}
<div class="some_info">
	<div class="auto auto_1200">
        <div class="RighInfo002228" data-role="part">
	        <div class="auto">
		        <div class="single-header">
                    <h1>
                        Our philosophy
                    </h1>
                    <h3>
                        <span>我们的理念</span>
                    </h3>
                </div>
                <div class="single-content">
                    <p>
                        我们的理念是，承载保护纯种猫血统之使命，给我们的宠物更优质的生活。因为我们认为所有的宠物都是人类的伴侣，我们的家人，它们给了我们充分的信任、无尽的快乐和一生的守候，它们也应该拥有健康、幸福、快乐的一生。正如我们的logo设计理念，希望我们能像猫神巴斯特一样守护这些美丽可爱的小生灵。
                    </p>
                    <p>
                        同时我们希望通过合理的成本管理，恪守只追求公平利润的原则，最大程度的提供高性价比的品质宠物，让更多的普通家庭能够拥有身心健康、好而不贵的高品质猫咪和服务，共享大自然的恩赐。
                    </p>
                </div>
                <div class="single-header">
                    <h3>
                        <span>我们的使命</span>
                    </h3>
                </div>
                <div class="single-content">
                    <p>
                        承载保护纯种猫血统之使命，给我们的宠物更优质的生活。<br>
                        让更多的普通家庭能够拥有好而不贵、物超所值的宠物和服务。
                    </p>
                </div>
                <div class="single-header">
                    <h3>
                        <span>愿景</span>
                    </h3>
                </div>
                <div class="single-content">
                    <p>
                        成为中国宠物繁育行业领导品牌，推动中国宠物繁育行业走向规范化、专业化、标准化。
                    </p>
                </div>
                <div class="single-header">
                    <h3>
                        <span>核心价值观</span>
                    </h3>
                </div>
                <div class="single-content">
                    <p>
                        诚信规范、注重品质是我们赢得客户信任的基础<br>
                        开放创新、不断学习是我们永为先驱的前提<br>
                        团结一致、严谨负责是我们守护基业的保障<br>
                        树立品牌、重视声誉、追求尽善尽美的宠物和服务标准是我们不变的宗旨。
                    </p>
                    <p class="no-textindent clearfix">
                        <img src="../static/picture/2.jpg" alt="" class="col2"><img src="../static/picture/7.jpg" alt="" class="fr col2">
                    </p>
                </div>
	        </div>
        </div>
    </div>
</div>
{% endblock %}


