{% extends "understand_cat/understand_cat.html" %}
{% block understand_cat%}
<div class="some_info">
	<div class="auto auto_1200">

        <p style="margin:0px;text-indent:24pt;">
	<br>
</p>
<p style="background-color:transparent;color:#000000;font-family:&amp;font-size:12px;font-style:normal;font-variant:normal;font-weight:400;letter-spacing:normal;margin-bottom:0px;margin-left:0px;margin-right:0px;margin-top:0px;orphans:2;text-align:left;text-decoration:none;text-indent:32px;text-transform:none;-webkit-text-stroke-width:0px;white-space:normal;word-spacing:0px;word-wrap:break-word;">
	<span style="color:#666666;line-height:2;font-family:Microsoft YaHei;font-size:14px;">布偶猫，英文名Ragdoll，也称作布娃娃猫或布拉多尔猫，源自美国。人工培育的品种，繁育历史可以追溯到20世纪60年代，距今约50多年历史。</span>
</p>
<p style="background-color:transparent;color:#000000;font-family:&amp;font-size:12px;font-style:normal;font-variant:normal;font-weight:400;letter-spacing:normal;margin-bottom:0px;margin-left:0px;margin-right:0px;margin-top:0px;orphans:2;text-align:left;text-decoration:none;text-indent:32px;text-transform:none;-webkit-text-stroke-width:0px;white-space:normal;word-spacing:0px;word-wrap:break-word;">
	<span style="color:#666666;line-height:2;font-family:Microsoft YaHei;font-size:14px;">布偶猫是大型的、蓝眼睛、重点色品种，它们大而蓝的眼睛、迷人的外表使得它们一出现就很快受到世界各地的欢迎。布偶猫不具备攻击性，适合于室内饲养，不具备野外生存能力。</span>
</p>
<p style="background-color:transparent;color:#000000;font-family:&amp;font-size:12px;font-style:normal;font-variant:normal;font-weight:400;letter-spacing:normal;margin-bottom:0px;margin-left:0px;margin-right:0px;margin-top:0px;orphans:2;text-align:left;text-decoration:none;text-indent:32px;text-transform:none;-webkit-text-stroke-width:0px;white-space:normal;word-spacing:0px;word-wrap:break-word;">
	<span style="color:#666666;line-height:2;font-family:Microsoft YaHei;font-size:14px;">布偶猫拥有安静、温顺、友善、亲人的好性格，经常看到它们静悄悄的在房间里走来走去，却不会发出很多声响，也经常可以看到它们栖息在主人的腿上，怀里。布偶猫也非常善良、忠诚，俗称布偶狗，能与小孩或其他宠物友好相处。它们也很聪明，是可以通过适当训练和奖励教导它们远离餐桌，不抓沙发，甚至是抛物捡回来之类的小游戏。</span>
</p>
<p style="background-color:transparent;color:#000000;font-family:&amp;font-size:12px;font-style:normal;font-variant:normal;font-weight:400;letter-spacing:normal;margin-bottom:0px;margin-left:0px;margin-right:0px;margin-top:0px;orphans:2;text-align:left;text-decoration:none;text-indent:32px;text-transform:none;-webkit-text-stroke-width:0px;white-space:normal;word-spacing:0px;word-wrap:break-word;">
	<span style="color:#666666;line-height:2;font-family:Microsoft YaHei;font-size:14px;">虽然它们非常温顺，但是同样很喜欢玩耍，一个不用太贵的逗猫棒、布老鼠、小球、甚至是小塑料袋、纸袋子、鞋带等等都是它们酷爱的玩具，买些或自己做一些小玩具让它们保持运动量是保持好状态的好方法。</span>
</p>
<p style="background-color:transparent;color:#000000;font-family:&amp;font-size:12px;font-style:normal;font-variant:normal;font-weight:400;letter-spacing:normal;margin-bottom:0px;margin-left:0px;margin-right:0px;margin-top:0px;orphans:2;text-align:left;text-decoration:none;text-indent:32px;text-transform:none;-webkit-text-stroke-width:0px;white-space:normal;word-spacing:0px;word-wrap:break-word;">
	<span style="color:#666666;line-height:2;font-family:Microsoft YaHei;font-size:14px;">布偶猫是一个健康的品种，很少有健康问题。然而在某些血线的布偶猫品种中会可能存在HCM和PKD遗传病，但我们会在种猫繁育之前做好基因检测筛查，确保种猫没有这些遗传病以消除小猫的疾病风险。同样还有很多猫科动物常见的传染疾病也会影响小猫健康，可以自豪的是，我们通过科学的防疫手段，预防这些疾病的传染。</span>
</p>
<p style="background-color:transparent;color:#000000;font-family:&amp;font-size:12px;font-style:normal;font-variant:normal;font-weight:400;letter-spacing:normal;margin-bottom:0px;margin-left:0px;margin-right:0px;margin-top:0px;orphans:2;text-align:left;text-decoration:none;text-indent:32px;text-transform:none;-webkit-text-stroke-width:0px;white-space:normal;word-spacing:0px;word-wrap:break-word;">
	<span style="color:#666666;line-height:2;font-family:Microsoft YaHei;font-size:14px;">布偶猫是中长毛品种，通过良好的营养供给和每天的毛发梳理，可以很好的控制脱落毛发。中大型品种，母猫成熟后一般8-14磅，公猫14-20磅。也是晚熟品种，通常3岁完全成熟，色素逐步沉淀加深，一般到2岁颜色沉淀完成。</span>
</p>
<p style="background-color:transparent;color:#000000;font-family:&amp;font-size:12px;font-style:normal;font-variant:normal;font-weight:400;letter-spacing:normal;margin-bottom:0px;margin-left:0px;margin-right:0px;margin-top:0px;orphans:2;text-align:left;text-decoration:none;text-indent:0px;text-transform:none;-webkit-text-stroke-width:0px;white-space:normal;word-spacing:0px;word-wrap:break-word;">
	<span style="color:#666666;line-height:2;font-family:Microsoft YaHei;font-size:14px;"><span style="color:#666666;line-height:2;font-family:Microsoft YaHei;font-size:14px;">&nbsp;&nbsp;&nbsp;&nbsp;布偶猫基本特点：</span></span>
</p>
<p style="background-color:transparent;color:#000000;font-family:&amp;font-size:12px;font-style:normal;font-variant:normal;font-weight:400;letter-spacing:normal;margin-bottom:0px;margin-left:0px;margin-right:0px;margin-top:0px;orphans:2;text-align:left;text-decoration:none;text-indent:0px;text-transform:none;-webkit-text-stroke-width:0px;white-space:normal;word-spacing:0px;word-wrap:break-word;">
	<span style="color:#666666;line-height:2;font-family:Microsoft YaHei;font-size:14px;">头部：呈等边三角形，双耳之间平坦.&nbsp;面颊顺着面形线而成为楔形。</span>
</p>
<p style="background-color:transparent;color:#000000;font-family:&amp;font-size:12px;font-style:normal;font-variant:normal;font-weight:400;letter-spacing:normal;margin-bottom:0px;margin-left:0px;margin-right:0px;margin-top:0px;orphans:2;text-align:left;text-decoration:none;text-indent:0px;text-transform:none;-webkit-text-stroke-width:0px;white-space:normal;word-spacing:0px;word-wrap:break-word;">
	<span style="color:#666666;line-height:2;font-family:Microsoft YaHei;font-size:14px;">耳朵&nbsp;：中等大小，微微张开底部开阔.&nbsp;双耳间距宽阔；&nbsp;耳尖浑圆而向前倾。</span>
</p>
<p style="background-color:transparent;color:#000000;font-family:&amp;font-size:12px;font-style:normal;font-variant:normal;font-weight:400;letter-spacing:normal;margin-bottom:0px;margin-left:0px;margin-right:0px;margin-top:0px;orphans:2;text-align:left;text-decoration:none;text-indent:0px;text-transform:none;-webkit-text-stroke-width:0px;white-space:normal;word-spacing:0px;word-wrap:break-word;">
	<span style="color:#666666;line-height:2;font-family:Microsoft YaHei;font-size:14px;">眼睛&nbsp;：大，明亮，蓝色、椭圆形.&nbsp;双眼间距宽阔，微微向上扬。</span>
</p>
<p style="background-color:transparent;color:#000000;font-family:&amp;font-size:12px;font-style:normal;font-variant:normal;font-weight:400;letter-spacing:normal;margin-bottom:0px;margin-left:0px;margin-right:0px;margin-top:0px;orphans:2;text-align:left;text-decoration:none;text-indent:0px;text-transform:none;-webkit-text-stroke-width:0px;white-space:normal;word-spacing:0px;word-wrap:break-word;">
	<span style="color:#666666;line-height:2;font-family:Microsoft YaHei;font-size:14px;">鼻子&nbsp;：中等长度的鼻子。</span>
</p>
<p style="background-color:transparent;color:#000000;font-family:&amp;font-size:12px;font-style:normal;font-variant:normal;font-weight:400;letter-spacing:normal;margin-bottom:0px;margin-left:0px;margin-right:0px;margin-top:0px;orphans:2;text-align:left;text-decoration:none;text-indent:0px;text-transform:none;-webkit-text-stroke-width:0px;white-space:normal;word-spacing:0px;word-wrap:break-word;">
	<span style="color:#666666;line-height:2;font-family:Microsoft YaHei;font-size:14px;">下巴&nbsp;：下巴要发育良好，强壮，并与上唇和鼻子成一直线。</span>
</p>
<p style="background-color:transparent;color:#000000;font-family:&amp;font-size:12px;font-style:normal;font-variant:normal;font-weight:400;letter-spacing:normal;margin-bottom:0px;margin-left:0px;margin-right:0px;margin-top:0px;orphans:2;text-align:left;text-decoration:none;text-indent:0px;text-transform:none;-webkit-text-stroke-width:0px;white-space:normal;word-spacing:0px;word-wrap:break-word;">
	<span style="color:#666666;line-height:2;font-family:Microsoft YaHei;font-size:14px;">四肢&nbsp;：中等长度.&nbsp;后肢较前肢长，前肢的毛亦较后肢的短。</span>
</p>
<p style="background-color:transparent;color:#000000;font-family:&amp;font-size:12px;font-style:normal;font-variant:normal;font-weight:400;letter-spacing:normal;margin-bottom:0px;margin-left:0px;margin-right:0px;margin-top:0px;orphans:2;text-align:left;text-decoration:none;text-indent:0px;text-transform:none;-webkit-text-stroke-width:0px;white-space:normal;word-spacing:0px;word-wrap:break-word;">
	<span style="color:#666666;line-height:2;font-family:Microsoft YaHei;font-size:14px;">足掌&nbsp;：比例上较大且圆，有穗成簇状。</span>
</p>
<p style="background-color:transparent;color:#000000;font-family:&amp;font-size:12px;font-style:normal;font-variant:normal;font-weight:400;letter-spacing:normal;margin-bottom:0px;margin-left:0px;margin-right:0px;margin-top:0px;orphans:2;text-align:left;text-decoration:none;text-indent:0px;text-transform:none;-webkit-text-stroke-width:0px;white-space:normal;word-spacing:0px;word-wrap:break-word;">
	<span style="color:#666666;line-height:2;font-family:Microsoft YaHei;font-size:14px;">尾巴&nbsp;：长、成羽毛状，覆盖着蓬松的披毛。</span>
</p>
<p style="background-color:transparent;color:#000000;font-family:&amp;font-size:12px;font-style:normal;font-variant:normal;font-weight:400;letter-spacing:normal;margin-bottom:0px;margin-left:0px;margin-right:0px;margin-top:0px;orphans:2;text-align:left;text-decoration:none;text-indent:0px;text-transform:none;-webkit-text-stroke-width:0px;white-space:normal;word-spacing:0px;word-wrap:break-word;">
	<span style="color:#666666;line-height:2;font-family:Microsoft YaHei;font-size:14px;">被毛&nbsp;：自然又不打结的中等长毛，形成柔软的双层披毛.&nbsp;面部的毛较短，而颈毛则较长。</span>
</p>
<p style="background-color:transparent;color:#000000;font-family:&amp;font-size:12px;font-style:normal;font-variant:normal;font-weight:400;letter-spacing:normal;margin-bottom:0px;margin-left:0px;margin-right:0px;margin-top:0px;orphans:2;text-align:left;text-decoration:none;text-indent:0px;text-transform:none;-webkit-text-stroke-width:0px;white-space:normal;word-spacing:0px;word-wrap:break-word;">
	<span style="color:#666666;line-height:2;font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span>
</p>
<p style="background-color:transparent;color:#000000;font-family:&amp;font-size:12px;font-style:normal;font-variant:normal;font-weight:400;letter-spacing:normal;margin-bottom:0px;margin-left:0px;margin-right:0px;margin-top:0px;orphans:2;text-align:left;text-decoration:none;text-indent:28px;text-transform:none;-webkit-text-stroke-width:0px;white-space:normal;word-spacing:0px;word-wrap:break-word;">
	<span style="color:#666666;line-height:2;font-family:Microsoft YaHei;font-size:14px;">血线分类：传统线、非传统线。非传统线不仅仅指著名的波斯系，泛指传统线以外的其他被承认的布偶猫。传统和非传统仅表现在基因血统上，而不是外观，因为两者的外观上很有可能极其相似。只有那些祖先完全都能追溯到Denny Dayton基因库里的布偶才是真正的传统线，只要有任何一只祖先不在其内都是非传统线。但两者只要都是正规猫协会注册，都是被认可的血统纯正的布偶猫，只是一个品种发展中，不同繁育者追求有所不同，早期繁育者在传统布偶猫血线里加入了其他的改良基因以便获得更多的特征，然后经过数次再与布偶血统的混合，使得外来品种或基因所占的基因比例非常小几近忽略的程度，仍主要表现为布偶的基因和特征，这在早期繁育也是被一些协会允许并认可的，但后期繁育者严禁擅自杂交、基因提纯等行为。除非你想创建一个新品种，而那是一个非常漫长的过程。一些老牌猫舍通过多年的基因筛选，可以形成相对固定的品相风格。</span>
</p>
<p style="background-color:transparent;color:#000000;font-family:&amp;font-size:12px;font-style:normal;font-variant:normal;font-weight:400;letter-spacing:normal;margin-bottom:0px;margin-left:0px;margin-right:0px;margin-top:0px;orphans:2;text-align:left;text-decoration:none;text-indent:28px;text-transform:none;-webkit-text-stroke-width:0px;white-space:normal;word-spacing:0px;word-wrap:break-word;">
	<span style="color:#666666;line-height:2;font-family:Microsoft YaHei;font-size:14px;">花色及颜色分类：</span>
</p>
<p style="background-color:transparent;color:#000000;font-family:&amp;font-size:12px;font-style:normal;font-variant:normal;font-weight:400;letter-spacing:normal;margin-bottom:0px;margin-left:0px;margin-right:0px;margin-top:0px;orphans:2;text-align:left;text-decoration:none;text-indent:28px;text-transform:none;-webkit-text-stroke-width:0px;white-space:normal;word-spacing:0px;word-wrap:break-word;">
	<span style="color:#666666;line-height:2;font-family:Microsoft YaHei;font-size:14px;">目前被认可的布偶猫颜色有：海豹色、蓝色、巧克力、丁香（淡紫）、红色、奶油，以及肉桂和米黄，肉桂和米黄部分协会不承认。都属于重点色。</span>
</p>
<p style="background-color:transparent;color:#000000;font-family:&amp;font-size:12px;font-style:normal;font-variant:normal;font-weight:400;letter-spacing:normal;margin-bottom:0px;margin-left:0px;margin-right:0px;margin-top:0px;orphans:2;text-align:left;text-decoration:none;text-indent:28px;text-transform:none;-webkit-text-stroke-width:0px;white-space:normal;word-spacing:0px;word-wrap:break-word;">
	<span style="color:#666666;line-height:2;font-family:Microsoft YaHei;font-size:14px;">被认可的花色有：重点、手套、双色、山猫纹、玳瑁，山猫纹与前三者是叠加关系，玳瑁只出现在手套和双色的母猫当中。</span>
</p>
<p style="background-color:transparent;color:#000000;font-family:&amp;font-size:12px;font-style:normal;font-variant:normal;font-weight:400;letter-spacing:normal;margin-bottom:0px;margin-left:0px;margin-right:0px;margin-top:0px;orphans:2;text-align:left;text-decoration:none;text-indent:28px;text-transform:none;-webkit-text-stroke-width:0px;white-space:normal;word-spacing:0px;word-wrap:break-word;">
	<span style="color:#666666;line-height:2;font-family:Microsoft YaHei;font-size:14px;">而传统线布偶猫颜色只包括：海豹色、蓝色、巧克力、丁香（淡紫），花色包括：重点、手套、双色。其余颜色及花色皆为非传统线后期扩增的，甚至包括被很多人所质疑的solid固色布偶猫，固色不是重点色。</span>
</p>
<p>
	<br>
</p>
<br>

    </div>
</div>
{% endblock %}