{% extends "understand_cat/understand_cat.html" %}
{% block understand_cat%}
    <div class="Floor002646">
            <div class="right">
                <div class="main">
                    <section class="intro ycenter">

                            <div class="txt">
                                <h2>颜色分类<span>Color Classification</span></h2>
                                <p>布偶猫共有9种颜色：海豹色、巧克力色、肉桂色、红色（火焰），对应上述四种颜色，经过稀释基因作用后产生蓝色、淡紫色、米黄色、奶油色。其中红色系基因会抑制真黑素合成，故又可能出现玳瑁色（俗称三花）。如此共9种颜色。</p>
                            </div>

                    </section>
                    <ul class="ul">

                            <li>
                            	<a href="javascript:;">
                                    <figure class="w">
                                        <p>海豹色</p>
                                    </figure>
                                    <figure class="pic"><img src="../static/picture/20181119103004304.jpg"></figure>
                                </a>
                            </li>

                            <li>
                            	<a href="javascript:;">
                                    <figure class="w">
                                        <p>巧克力色</p>
                                    </figure>
                                    <figure class="pic"><img src="../static/picture/20181119103004304.jpg"></figure>
                                </a>
                            </li>

                            <li>
                            	<a href="javascript:;">
                                    <figure class="w">
                                        <p>肉桂色</p>
                                    </figure>
                                    <figure class="pic"><img src="../static/picture/20181119103004304.jpg"></figure>
                                </a>
                            </li>

                            <li>
                            	<a href="javascript:;">
                                    <figure class="w">
                                        <p>红色</p>
                                    </figure>
                                    <figure class="pic"><img src="../static/picture/20181119103004304.jpg"></figure>
                                </a>
                            </li>

                            <li>
                            	<a href="javascript:;">
                                    <figure class="w">
                                        <p>蓝色</p>
                                    </figure>
                                    <figure class="pic"><img src="../static/picture/20181119103004304.jpg"></figure>
                                </a>
                            </li>

                            <li>
                            	<a href="javascript:;">
                                    <figure class="w">
                                        <p>淡紫色</p>
                                    </figure>
                                    <figure class="pic"><img src="../static/picture/20181119103004304.jpg"></figure>
                                </a>
                            </li>

                            <li>
                            	<a href="javascript:;">
                                    <figure class="w">
                                        <p>米黄色</p>
                                    </figure>
                                    <figure class="pic"><img src="../static/picture/20181119103004304.jpg"></figure>
                                </a>
                            </li>

                            <li>
                            	<a href="javascript:;">
                                    <figure class="w">
                                        <p>奶油色</p>
                                    </figure>
                                    <figure class="pic"><img src="../static/picture/20181119103004304.jpg"></figure>
                                </a>
                            </li>

                            <li>
                            	<a href="javascript:;">
                                    <figure class="w">
                                        <p>玳瑁色</p>
                                    </figure>
                                    <figure class="pic"><img src="../static/picture/20181119103004304.jpg"></figure>
                                </a>
                            </li>

                    </ul>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="right">
                <div class="main">
                    <section class="intro ycenter">

                            <div class="txt">
                                <h2>花色分类<span>Pattern classification</span></h2>
                                <p><p>
	根据白斑的多少布偶猫分为三种花色：重点色、手套色、双色，这三种并非从颜色上区分，而是图案分布上区分。除此之外，花色方面还有山猫纹和纯色之分，山猫纹也称作虎斑纹，它与以上所有颜色、花色是叠加的关系。
</p>
<p>
	下面用图片形式逐一介绍各个颜色及花色，部分图片来自国际其他猫舍（some pictures come from other catteries），版权归原猫舍所有，转载请注明。
</p>
                            </div>

                    </section>
                    <ul class="ul">

                            <li>
                            	<a href="javascript:;">
                                    <figure class="w">
                                        <p>重点色</p>
                                    </figure>
                                    <figure class="pic"><img src="../static/picture/20181119103004304.jpg"></figure>
                                </a>
                            </li>

                            <li>
                            	<a href="javascript:;">
                                    <figure class="w">
                                        <p>手套色</p>
                                    </figure>
                                    <figure class="pic"><img src="../static/picture/20181119103004304.jpg"></figure>
                                </a>
                            </li>

                            <li>
                            	<a href="javascript:;">
                                    <figure class="w">
                                        <p>双色</p>
                                    </figure>
                                    <figure class="pic"><img src="../static/picture/20181119103004304.jpg"></figure>
                                </a>
                            </li>

                            <li>
                            	<a href="javascript:;">
                                    <figure class="w">
                                        <p>山猫纹</p>
                                    </figure>
                                    <figure class="pic"><img src="../static/picture/20181119103004304.jpg"></figure>
                                </a>
                            </li>

                            <li>
                            	<a href="javascript:;">
                                    <figure class="w">
                                        <p>纯色</p>
                                    </figure>
                                    <figure class="pic"><img src="../static/picture/20181119103004304.jpg"></figure>
                                </a>
                            </li>

                    </ul>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    <div class="Floor002620">
            <div class="main">

                    <ul class="ul ycenter">
                        <li class="pic">
                        	<a href="javascript:;"><img src="../static/picture/201909120953335333.jpg"></a>
                        </li>
                        <li class="txt">
                            <div class="name"><a href="javascript:;"><span class="dot">海豹双色<i class="dot"></i></span></a></div>
                            <p>海豹色是经典色系，也是接受度很高的颜色，海豹色把俗称的面具或者说烟熏妆表达的很充分，这种面具成为布偶猫标志性特征。the picture came from other cattery。</p>
                        </li>
                    </ul>

                    <ul class="ul ycenter">
                        <li class="pic">
                        	<a href="javascript:;"><img src="../static/picture/201909120955325532.jpg"></a>
                        </li>
                        <li class="txt">
                            <div class="name"><a href="javascript:;"><span class="dot">海豹山猫双色<i class="dot"></i></span></a></div>
                            <p>有了山猫纹似乎增添了一些立体感，整体颜色看起来会比没有山猫纹的稍浅一些。布偶猫属于重点色类型，即颜色因温度原因呈渐变式过渡，加上这些虎斑纹，尤其是那种分部均匀、花型对称、干净的纹路，会锦上添花，尾巴呈现浣熊一样的环状纹路。</p>
                        </li>
                    </ul>

                    <ul class="ul ycenter">
                        <li class="pic">
                        	<a href="javascript:;"><img src="../static/picture/201909121014371437.jpg"></a>
                        </li>
                        <li class="txt">
                            <div class="name"><a href="javascript:;"><span class="dot">海豹手套<i class="dot"></i></span></a></div>
                            <p></p>
                        </li>
                    </ul>

                    <ul class="ul ycenter">
                        <li class="pic">
                        	<a href="javascript:;"><img src="../static/picture/201909121020272027.jpg"></a>
                        </li>
                        <li class="txt">
                            <div class="name"><a href="javascript:;"><span class="dot">海豹山猫手套<i class="dot"></i></span></a></div>
                            <p><br></p>
                        </li>
                    </ul>

                    <ul class="ul ycenter">
                        <li class="pic">
                        	<a href="javascript:;"><img src="../static/picture/201909120957525752.jpg"></a>
                        </li>
                        <li class="txt">
                            <div class="name"><a href="javascript:;"><span class="dot">蓝手套<i class="dot"></i></span></a></div>
                            <p></p>
                        </li>
                    </ul>

                    <ul class="ul ycenter">
                        <li class="pic">
                        	<a href="javascript:;"><img src="../static/picture/201909120956365636.jpg"></a>
                        </li>
                        <li class="txt">
                            <div class="name"><a href="javascript:;"><span class="dot">蓝双色<i class="dot"></i></span></a></div>
                            <p></p>
                        </li>
                    </ul>

                    <ul class="ul ycenter">
                        <li class="pic">
                        	<a href="javascript:;"><img src="../static/picture/20190912095501551.jpg"></a>
                        </li>
                        <li class="txt">
                            <div class="name"><a href="javascript:;"><span class="dot">玳瑁色<i class="dot"></i></span></a></div>
                            <p></p>
                        </li>
                    </ul>

            </div>
            <script>
                    Floor002620();
                    $(window).resize(function(e) {
                        Floor002620();
                    });

                    function Floor002620() {
                        var w = $(window).width()
                        if (w > 768) {
                            $(".Floor002620 .main ul").each(function(i) {
                                if (Number(i + 1) % 2 != 0) {
                                    $(this).find(".txt").insertBefore($(this).find(".pic"));
                                }
                            });
                        } else {
                            $(".Floor002620 .main ul").each(function() {
                                $(this).find(".pic").insertBefore($(this).find(".txt"));
                            });
                        }
                    }

                </script>
        </div>
{% endblock %}