{% extends "layout/base.html" %}
{% load staticfiles%}
{% block banner%}
{% include 'banner/understand_cat_banner.html' %}
{% endblock %}
{% block content %}
<div class="Menu002290" data-role="part">
    <div class="auto auto_1200">
        <div class="location"><a href='{% url "index" %}'>首页</a>  <a href='{% url "color_suit" %}'>了解布偶</a> <span>布偶猫颜色及花色</span></div>
        <div class="menu">
            <ul class="ul">
                <li id="color_suit"><a href='{% url "color_suit" %}'><i></i>布偶猫颜色及花色</a></li>
                <li id="cat_profile"><a href='{% url "cat_profile" %}'><i></i>布偶猫简介</a></li>
                <li id="breed_history"><a href='{% url "breed_history" %}'><i></i>繁育历史</a></li>
                <li id="phase_identification"><a href='{% url "phase_identification" %}'><i></i>品相鉴别</a></li>
            </ul>
        </div>
    </div>
    <script>
		;
		(function($, window, document) {
			function Menu002290(elem) {
				var elem = $(elem);
			}
		Menu002290(".Menu002290");
	</script>
</div>
{% block understand_cat%}
{% endblock %}
{% endblock %}