{% extends "cat_academy/cat_academy.html" %}
{% block cat_academy%}
    <div class="some_info">
	<div class="auto auto_1200">

        <div class="PicList001938" data-role="part">
            <div class="auto auto_1200">
                <ul class="ul clearfix">

                        <li>
                            <div>
                            	<a href='info_15_itemid_43.html' class="Ispic" style="background-image:url( ../static/image/201901141510571057.jpg );"><img src="../static/picture/201901141510571057.jpg"></a>
                                <h5><a href='info_15_itemid_43.html' class="dot">正规猫舍猫咪状态</a></h5>
                                <time>2018-11-19</time>
                                <p>待更新……</p>
                                <a href='info_15_itemid_43.html' class="more">详情 >></a>
                            </div>
                        </li>
                </ul>
            </div>
            <!--[if lt IE 9]>
            <script>
            $(".PicList001938 li:odd").addClass("odd");
            </script>
        <![endif]-->
        </div>

        <div class="Page002545">

                <div class='Pages'>
                    <span class='p_page'>
                        <a href='javascript:void(0);' class='a_first'>第一页</a>
                        <a href='javascript:void(0);' class='a_prev'>上一页</a>
                        <em class="num">
                            <a href='list_15_cid_17_page_1.html' class='a_cur' id='pageNum1'>1</a>
                        </em>
                        <a href='javascript:void(0);' class='a_next'>下一页</a>
                        <a href='javascript:void(0);' class='a_end'>最后一页</a>
                    </span>
                </div>
            <script type='text/javascript'> function redirectPage_(inputID){      var inputValue = document.getElementById(inputID).value;     if(!(/^\d+$/).test(inputValue)){ document.getElementById(inputID).value = '1'; return; }      if(inputValue <= 0) { inputValue = 1; }      if(inputValue > 1) { inputValue = 1; }      location.href = '/ymxy/list_15_cid_17_page_{$wtl_pager}.html'.replace('{$wtl_pager}', inputValue); } </script>
        </div>

    </div>
</div>

{% endblock %}