{% extends "cat_academy/cat_academy.html" %}
{% block cat_academy%}
    <div class="some_info">
	<div class="auto auto_1200">

        <div class="PicList001938" data-role="part">
            <div class="auto auto_1200">
                <ul class="ul clearfix">

                </ul>
            </div>
            <!--[if lt IE 9]>
            <script>
            $(".PicList001938 li:odd").addClass("odd");
            </script>
        <![endif]-->
        </div>

        <div class="Page002545">

        </div>

    </div>
</div>

{% endblock %}