{% extends "buy_cat/buy_cat.html" %}
{% block buy_cat%}
<div class="some_info">
	<div class="auto auto_1200">
        <span style="background-color:#FFFFFF;"><strong><span style="color:#666666;font-size:16px;"></span></strong><b></b><span style="font-family:宋体;"></span><span style="font-size:small;"></span><span style="color:#002000;"></span>
            <p style="margin:0px;text-indent:12pt;">
                待更新
            </p>
        </span>
        <b>
            <p>
                <br>
            </p>
            <br>
            <p>
                <br>
            </p>
        </b>
        <p>
            <br>
        </p>
    </div>
</div>
{% endblock %}
