{% extends "buy_cat/buy_cat.html" %}
{% block buy_cat%}
<div class="some_info">
	<div class="auto auto_1200">

        <br>
<span style="font-size:16px;line-height:2;color:#64451D;"><strong>我们为您提供全面的并形成协议的血统及健康保障：</strong></span><br>
<span style="font-size:16px;line-height:2;">&nbsp;&nbsp;&nbsp;&nbsp;1）我们保证所有小猫血统纯正，均具有国际猫协会的注册证书（免费），五代血统可查。无假证，不套证。</span><br>
<span style="font-size:16px;line-height:2;">&nbsp;&nbsp;&nbsp;&nbsp;2）我们保证所有小猫皆由本舍繁育，不代购，不外收来路不明猫只。坚持有序、人道的繁殖理念，不杂交，不笼养，控制生育频率确保健康及品质。</span><br>
<span style="font-size:16px;line-height:2;">&nbsp;&nbsp;&nbsp;&nbsp;3）保证良好的养育环境和营养，保持强健体质。喂食进口罐头、顶级进口猫粮及生骨肉。小猫吃足2月以上母乳。提供充足空间保证运动量。多种营养补充剂保持猫咪良好的身体素质。小猫同猫妈妈和人类生活在一起，确保充分社会化训练。重视小猫的娱乐需求，自由天性，保持布偶猫品种亲人、温顺的性格特点。</span><br>
<span style="font-size:16px;line-height:2;">&nbsp;&nbsp;&nbsp;&nbsp;4）我们保证所有出自本舍的小猫不存在HCM和PKD遗传病，终生有效。</span><br>
<span style="font-size:16px;line-height:2;">&nbsp;&nbsp;&nbsp;&nbsp;5）我们保证所有小猫离家前做好常规体内外驱虫，按程序接种两针以上猫三联疫苗，并提供疫苗批次记录可供追溯。</span><br>
<span style="font-size:16px;line-height:2;">&nbsp;&nbsp;&nbsp;&nbsp;6）猫舍保证小猫离家前无猫瘟、传染性腹膜炎、猫艾滋病、白血病等危及生命的重大疾病，小猫回家后一月内若出现如上危及生命的疾病且医治无效，免费更换同等级别小猫。</span><br>
<span style="font-size:16px;line-height:2;">&nbsp;&nbsp;&nbsp;&nbsp;7）我们保证用最严格的国际猫展赛标准对小猫评级并定价，只追求公平利润，通过合理的成本管理压缩定价范围，不蓄意提高品级提升价格，不设虚价，谨记“让更多的普通家庭能够拥有好而不贵、物超所值的宠物和服务”是我们不变的运营理念。</span><br>
<span style="font-size:16px;line-height:2;">&nbsp;&nbsp;&nbsp;&nbsp;8）我们保证绝不做误导性或虚假宣传，所有出自本舍公开信息平台的图片保证与活体对应，不刻意掩盖缺陷，支持预定者现场选猫，公开透明。</span><br>
<p>
	<span style="font-size:16px;line-height:2;">&nbsp;&nbsp;&nbsp;&nbsp;9）遵从国际猫协会规定，小猫绝育出售给个人，繁育权只出售给正规猫舍。</span>
</p>
<p>
	<span style="font-size:16px;line-height:2;"><br>
</span>
</p>
<span style="font-size:16px;line-height:2;color:#64451D;"><strong>售后及福利：</strong></span><br>
<span style="font-size:16px;line-height:2;">&nbsp;&nbsp;&nbsp;&nbsp;1）我们保证售后的优质服务，提供系统养猫指导、终生养育咨询、官方网站、公众号持续更新的养猫科普资料。</span><br>
<span style="font-size:16px;line-height:2;">&nbsp;&nbsp;&nbsp;&nbsp;2）合作医院享受折扣优惠。</span><br>
<span style="font-size:16px;line-height:2;">&nbsp;&nbsp;&nbsp;&nbsp;3）为家长提供非营利性代采购猫用品服务，团购模式共享猫舍采购价及可靠的代理货源。</span><br>
<span style="font-size:16px;line-height:2;"></span>

    </div>
</div>
{% endblock %}