{% extends "cat_show/cat_show.html" %}
{% block cat_show%}
    <div class="some_info">
	<div class="auto auto_1200">

        <div class="Floor002618">
            <div class="auto">
                <ul class="ul clearfix">

                        <li>
                            <div class="pic">
                                <time><b>08</b>2019-04</time>
                                <a href="javascript:;"><img src="../static/picture/20190408180958958.jpg"></a>
                            </div>
                            <div class="txt">
                                <h2><a href="javascript:;" class="dot">豆花在珠海</a></h2>
                            </div>
                        </li>

                        <li>
                            <div class="pic">
                                <time><b>08</b>2019-04</time>
                                <a href="javascript:;"><img src="../static/picture/20190408180916916.jpg"></a>
                            </div>
                            <div class="txt">
                                <h2><a href="javascript:;" class="dot">偏偏爱你的无影脚</a></h2>
                            </div>
                        </li>

                        <li>
                            <div class="pic">
                                <time><b>28</b>2019-03</time>
                                <a href="javascript:;"><img src="../static/picture/201903281548284828.jpg"></a>
                            </div>
                            <div class="txt">
                                <h2><a href="javascript:;" class="dot">coat finally come out</a></h2>
                            </div>
                        </li>

                        <li>
                            <div class="pic">
                                <time><b>28</b>2019-03</time>
                                <a href="javascript:;"><img src="../static/picture/20190328154604464.jpg"></a>
                            </div>
                            <div class="txt">
                                <h2><a href="javascript:;" class="dot">桃心长大了</a></h2>
                            </div>
                        </li>

                        <li>
                            <div class="pic">
                                <time><b>20</b>2019-02</time>
                                <a href="javascript:;"><img src="../static/picture/201902201227202720.jpg"></a>
                            </div>
                            <div class="txt">
                                <h2><a href="javascript:;" class="dot">小时候谁老叫我蓝小秃</a></h2>
                            </div>
                        </li>

                        <li>
                            <div class="pic">
                                <time><b>20</b>2019-02</time>
                                <a href="javascript:;"><img src="../static/picture/201902201226152615.jpg"></a>
                            </div>
                            <div class="txt">
                                <h2><a href="javascript:;" class="dot">衣服是干什么用的</a></h2>
                            </div>
                        </li>

                        <li>
                            <div class="pic">
                                <time><b>20</b>2019-02</time>
                                <a href="javascript:;"><img src="../static/picture/201902201225312531.jpg"></a>
                            </div>
                            <div class="txt">
                                <h2><a href="javascript:;" class="dot">爸爸的腊肠饭真好次</a></h2>
                            </div>
                        </li>

                        <li>
                            <div class="pic">
                                <time><b>20</b>2019-02</time>
                                <a href="javascript:;"><img src="../static/picture/201902201224412441.jpg"></a>
                            </div>
                            <div class="txt">
                                <h2><a href="javascript:;" class="dot">腊八一不留神变狮王</a></h2>
                            </div>
                        </li>

                        <li>
                            <div class="pic">
                                <time><b>20</b>2019-02</time>
                                <a href="javascript:;"><img src="../static/picture/201902201223252325.jpg"></a>
                            </div>
                            <div class="txt">
                                <h2><a href="javascript:;" class="dot">每天目送你去上班</a></h2>
                            </div>
                        </li>

                </ul>
            </div>
        </div>

        <div class="Page002545">

                <div class='Pages'>
                    <span class='p_page'>
                        <a href='javascript:void(0);' class='a_first'>第一页</a>
                        <a href='javascript:void(0);' class='a_prev'>上一页</a>
                        <em class="num">
                            <a href='list_14_cid_12_page_1.html' class='a_cur' id='pageNum1'>1</a><a href='list_14_cid_12_page_2.html' class='a_num' id='pageNum2'>2</a><a href='list_14_cid_12_page_3.html' class='a_num' id='pageNum3'>3</a>
                        </em>
                        <a href='list_14_cid_12_page_2.html' class='a_next'>下一页</a>
                        <a href='list_14_cid_12_page_3.html' class='a_end'>最后一页</a>
                    </span>
                </div>
            <script type='text/javascript'> function redirectPage_(inputID){      var inputValue = document.getElementById(inputID).value;     if(!(/^\d+$/).test(inputValue)){ document.getElementById(inputID).value = '1'; return; }      if(inputValue <= 0) { inputValue = 1; }      if(inputValue > 3) { inputValue = 3; }      location.href = '/tpzl/list_14_cid_12_page_{$wtl_pager}.html'.replace('{$wtl_pager}', inputValue); } </script>
        </div>

    </div>
</div>

{% endblock %}