{% extends "cat_show/cat_show.html" %}
{% block cat_show%}
    <div class="some_info">
	<div class="auto auto_1200">

        <div class="Floor002618">
            <div class="auto">
                <ul class="ul clearfix">

                        <li>
                            <div class="pic">
                                <time><b>05</b>2019-05</time>
                                <a href="javascript:;"><img src="../static/picture/20190505140642642.jpg"></a>
                            </div>
                            <div class="txt">
                                <h2><a href="javascript:;" class="dot">1.5月龄蓝山双</a></h2>
                            </div>
                        </li>

                        <li>
                            <div class="pic">
                                <time><b>05</b>2019-05</time>
                                <a href="javascript:;"><img src="../static/picture/2019050514060565.jpg"></a>
                            </div>
                            <div class="txt">
                                <h2><a href="javascript:;" class="dot">1.5月龄小黑桃</a></h2>
                            </div>
                        </li>

                        <li>
                            <div class="pic">
                                <time><b>05</b>2019-05</time>
                                <a href="javascript:;"><img src="../static/picture/20190505140520520.jpg"></a>
                            </div>
                            <div class="txt">
                                <h2><a href="javascript:;" class="dot">1.5月龄海双2</a></h2>
                            </div>
                        </li>

                        <li>
                            <div class="pic">
                                <time><b>05</b>2019-05</time>
                                <a href="javascript:;"><img src="../static/picture/20190505140457457.jpg"></a>
                            </div>
                            <div class="txt">
                                <h2><a href="javascript:;" class="dot">1.5月龄海双</a></h2>
                            </div>
                        </li>

                        <li>
                            <div class="pic">
                                <time><b>17</b>2019-04</time>
                                <a href="javascript:;"><img src="../static/picture/201904171610111011.jpg"></a>
                            </div>
                            <div class="txt">
                                <h2><a href="javascript:;" class="dot">别致的小黑桃睡得很熟</a></h2>
                            </div>
                        </li>

                        <li>
                            <div class="pic">
                                <time><b>17</b>2019-04</time>
                                <a href="javascript:;"><img src="../static/picture/20190417160842842.jpg"></a>
                            </div>
                            <div class="txt">
                                <h2><a href="javascript:;" class="dot">一篮子小毛球|一月龄</a></h2>
                            </div>
                        </li>

                        <li>
                            <div class="pic">
                                <time><b>17</b>2019-04</time>
                                <a href="javascript:;"><img src="../static/picture/20190417160747747.jpg"></a>
                            </div>
                            <div class="txt">
                                <h2><a href="javascript:;" class="dot">蓝双三个多月</a></h2>
                            </div>
                        </li>

                        <li>
                            <div class="pic">
                                <time><b>28</b>2019-03</time>
                                <a href="javascript:;"><img src="../static/picture/201903281550305030.jpg"></a>
                            </div>
                            <div class="txt">
                                <h2><a href="javascript:;" class="dot">安妮的户外活动</a></h2>
                            </div>
                        </li>

                        <li>
                            <div class="pic">
                                <time><b>20</b>2019-02</time>
                                <a href="javascript:;"><img src="../static/picture/201902201127162716.jpg"></a>
                            </div>
                            <div class="txt">
                                <h2><a href="javascript:;" class="dot">海双</a></h2>
                            </div>
                        </li>

                </ul>
            </div>
        </div>
        <div class="Page002545">
                <div class='Pages'>
                    <span class='p_page'>
                        <a href='javascript:void(0);' class='a_first'>第一页</a>
                        <a href='javascript:void(0);' class='a_prev'>上一页</a>
                        <em class="num">
                            <a href='list_14_cid_13_page_1.html' class='a_cur' id='pageNum1'>1</a><a href='list_14_cid_13_page_2.html' class='a_num' id='pageNum2'>2</a><a href='list_14_cid_13_page_3.html' class='a_num' id='pageNum3'>3</a><a href='list_14_cid_13_page_4.html' class='a_num' id='pageNum4'>4</a><a href='list_14_cid_13_page_5.html' class='a_num' id='pageNum5'>5</a>
                        </em>
                        <a href='list_14_cid_13_page_2.html' class='a_next'>下一页</a>
                        <a href='list_14_cid_13_page_6.html' class='a_end'>最后一页</a>
                    </span>
                </div>
            <script type='text/javascript'> function redirectPage_(inputID){      var inputValue = document.getElementById(inputID).value;     if(!(/^\d+$/).test(inputValue)){ document.getElementById(inputID).value = '1'; return; }      if(inputValue <= 0) { inputValue = 1; }      if(inputValue > 6) { inputValue = 6; }      location.href = '/tpzl/list_14_cid_13_page_{$wtl_pager}.html'.replace('{$wtl_pager}', inputValue); } </script>
        </div>

    </div>
</div>
{% endblock %}